.search__field {
  display: block;
  width: 100%;
  padding: 0.9rem;
  padding-left: 4.2rem;
  color: #3a3a3a;
  font-family: "avenir";
  font-size: 2.4rem;
  text-transform: uppercase;
  border: none;
  border-bottom: 0.4rem solid rgba(55,55,55,0.56);
  background: #000;
  cursor: pointer;
}

.search__field:focus {
  outline: none;
}
.search:before {
  position: absolute;
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.66rem;
  top: 1.3rem;
  left: 1.167rem;
  background-image: url("icon-search.svg");
  background-size: cover;
}
