language: node_js
node_js:
  - "node"
before_install:
  - npm install -g now
install:
  - npm install
script:
  - npm run lint
after_success:
  - npm run deploy
# deploy:
#   - provider: script
#   - script: npm run deploy
