.filter-logo {
  width: 4.586rem;
  height: 4.586rem;
  margin-right: 0.2418rem;
  padding-left: 0.6671rem;
  background-color: #ebebeb;
}
.filter-logo__image {
  width: 3.335rem;
  height: 4.586rem;
  object-fit: contain;
}
