.menu__item {
  display: block;
  margin-bottom: 2.42rem;
  text-transform: uppercase;
  font-family: "avenir";
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #3a3a3a;
}
.menu__item_active {
  color: #fff;
}
.menu__item:hover {
  cursor: pointer;
}
